<footer class="bg-light text-center text-lg-left m-4 ">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <form class="form-inline mx-auto mt-2" action="{{ '/search' | relative_url }}">
                    <div class="input-group">
                        <div class="form-floating">
                            <input class="form-control" type="text" aria-label="Search" name="q" id="search">
                            <label for="search" class="form-label">Search OER FAQ</label>
                        </div>
                        <button class="btn btn-success" type="submit">
                            <span class="material-icons">search</span>
                        </button>
                    </div>
                </form>

                <div class="mt-4">
                    <a href="help" class="btn btn-danger btn-sm"><span class="material-icons">help_center</span>
                        Help!</a>
                    <a href="help" class="btn btn-primary btn-sm"><span class="material-icons">list</span>
                        List of topics</a>
                    <a href="{{site.github.repository_url}}/edit/main/{{page.path}}" class="btn btn-secondary btn-sm"><span class="material-icons md-18">mode_edit</span>
                        Edit this page</a>
                    <a href="about" class="btn btn-secondary btn-sm"><span class="material-icons">info</span>
                        About this FAQ</a> 
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <p>
                    <small>Unless otherwise noted, all content on Open Oregon Educational Resources is licensed under a
                        <a href="http://creativecommons.org/licenses/by/4.0/">
                            Creative Commons Attribution 4.0 International License.
                        </a>
                    </small>
                </p>
                <p>
                    <small>
                        <a href="http://creativecommons.org/licenses/by/4.0/">
                            <img src="https://licensebuttons.net/l/by/4.0/88x31.png" alt="CC-BY"></a>
                        Higher Education Coordination Commission: Office of Community Colleges and Workforce Development            
                    </small>
                </p>
        
            </div>

        </div>
        <!--Grid row-->
    </div>
</footer>
