<footer class="bg-light text-center text-lg-left mt-4">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <p>
                    This FAQ was developed by Hunter Cato, Jane Sandberg, and Michaela Willi Hooper, Linn-Benton
                    Community College; Sergio Lopez, Mt Hood Community College; Jen Klaudinyi and Amanda Bird, Portland
                    Community College; Meggie Wright, Lane Community College; Sue Kunda, Western Oregon University;
                    Kerry Leek, Clackamas Community College; Scott Miller; and Amy Hofer, Open Oregon Educational
                    Resources.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <form class="form-inline d-flex justify-content-center md-form form-sm mt-2" action="{{ '/search' | relative_url }}">
                    <input class="form-control" type="text" aria-label="Search" name="q">
                    <span class="material-icons">search</span>
                </form>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="help" class="text-dark">Help!</a>
                    </li>
                    <li>
                        <a href="{{site.github.repository_url}}/edit/main/{{page.path}}">Edit this page</a>
                    </li>
                </ul>
            </div>

        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
    <div class="text-center p3">
        <p>Unless otherwise noted, all content on Open Oregon Educational Resources is licensed under a
            <a href="http://creativecommons.org/licenses/by/4.0/">
                Creative Commons Attribution 4.0 International License.
            </a>
        </p>
        <p>
            <a href="http://creativecommons.org/licenses/by/4.0/">
                <img src="https://licensebuttons.net/l/by/4.0/88x31.png" alt="CC-BY"></a>
            Higher Education Coordination Commission: Office of Community Colleges and Workforce Development

        </p>
    </div>
</footer>
