<nav class="header-nav">
  <div class="row">
    <div class="col-auto me-auto">
      <img src="{{ "/assets/images/Open-Oregon-for-lights.png" | relative_url }}" alt="Open Oregon Educational Resources">
    </div>
    <div class="col-auto">
      <a href="https://twitter.com/open_oregon" target="_blank"><img
        src="{{ "/assets/images/twitter.png" | relative_url }}" alt="Open Oregon Educational Resources"></a>
      <a href="https://facebook.com/openoregon" target="_blank"><img
        src="{{ "/assets/images/facebook.png" | relative_url }}" alt="Open Oregon Educational Resources"></a>
      <a href="https://openoregon.org/feed/" target="_blank"><img
        src="{{ "/assets/images/rss.png" | relative_url }}" alt="Open Oregon Educational Resources"></a>
    </div>

  </div>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="https://openoregon.org/mission/">Mission</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://openoregon.org/calendar/">Calendar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://openoregon.org/resources/">Resources</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{{ '/' | relative_url }}">FAQ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://openoregon.org/grants/">Grants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://openoregon.org/z-degree/">Z-Degree</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://openoregon.org/contact/">Contact</a>
    </li>
  </ul>

</nav>
