<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include google_fonts.html %}
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
  {% include custom_css_links.html %}

  <title>{{ page.title }}</title>
</head>

<body>
  <div class="container main-container">
    {% include header.html %}
    <main class="main-content p-5">
      {{ content }}
    </main>
    {% include footer.html %}  

  </div>
</body>

</html>
